<html class="has-navbar-fixed-top">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>SMS: VIT Chennai</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <!-- Bulma Version 0.7.2-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
        <link rel="stylesheet" type="text/css" href="../public/css/admin.css">

    </head>
    <body>
        <!-- START NAV -->
        <nav class="navbar is-dark is-fixed-top">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item brand-text" href="dashboard.html">
          VIT Chennai
        </a>
                    <div class="navbar-burger burger" data-target="navMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div id="navMenu" class="navbar-menu">
                    <div class="navbar-start">
                        <a class="navbar-item" href="dashboard.html">
            Home
          </a>
                        <a class="navbar-item" href="dashboard.html">
            Timetable
          </a>
                        <a class="navbar-item" href="dashboard.html">
            Results
          </a>
                        <a class="navbar-item" href="dashboard.html">
            Payments
          </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END NAV -->
        <br>
        <div class="container">
            <div class="columns">
                <div class="column is-3 is-dark">
                    <aside class="menu is-hidden-mobile">
                        <p class="menu-label">
                        General
                    </p>
                        <ul class="menu-list">
                            <li>
                                <a>Dashboard</a>
                            </li>
                            <li>
                                <a class="is-active">Your Profile</a>
                            </li>
                        </ul>
                        <p class="menu-label">
                        Winter Semester 2018-19
                    </p>
                        <ul class="menu-list">
                            <li>
                                <a>Courses</a>
                            </li>
                            <li>
                                <a>Digital Assignments</a>
                            </li>
                            <li>
                                <a>Course Materials</a>
                            </li>
                        </ul>
                    </aside>
                </div>
                <div class="column is-9">
                    <!--nav class="breadcrumb" aria-label="breadcrumbs"><ul><li><a href="../">Bulma</a></li><li><a href="../">Templates</a></li><li><a href="../">Examples</a></li><li class="is-active"><a href="#" aria-current="page">Admin</a></li>
                    </ul>
                </nav-->
<section class="hero is-Link welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                              Siddharth
                            </h1>
            <h2 class="subtitle">
                                16BLC1002
                            </h2>
            <h2 class="subtitle">
                                siddharthjain98@gmail.com
                            </h2>
        </div>
    </div>
</section>
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">98</p>
                <p class="subtitle">Attendance</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">9.88</p>
                <p class="subtitle">CGPA</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">9</p>
                <p class="subtitle">Credits Completed</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">87</p>
                <p class="subtitle">Credits Registered</p>
            </article>
        </div>
    </div>
</section>
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">9810088207</p>
                <p class="subtitle">Mobile Number</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="subtitle has-text-weight-bold has-text-black">siddharthjain98@gmail.com</p>
                <p class="subtitle">Email Address</p>
            </article>
        </div>
    </div>
</section>
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="subtitle has-text-weight-bold has-text-black">Ghaziabad</p>
                <p class="subtitle">Residential Address</p>
            </article>
        </div>
    </div>
</section>
</div>
</div>
</div>
<script async type="text/javascript" src="../public/js/bulma.js"></script>
</body>
</html>
