.container,
.container-fluid {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.container-fluid {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.container-fluid .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

hr {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

header .alert {
  margin-bottom: 0;
}

#shareWhatsApp {
  margin-bottom: 1.5rem;
}

#shareWhatsApp img {
  width: 20px;
  margin-left: 0.5rem;
}

#shareWhatsApp .btn {
  width: 80%;
}

#option_buttons {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.tt-picker-edit-input {
  /* margin same as bootstrap padding default for .dropdown-menu>li>a*/
  margin: 3px 20px;
}

.tt-picker-edit-button {
  margin-right: 1rem;
}

#timetable .table {
  margin-bottom: 0 !important;
}

.quick-selection .btn {
  min-width: 4.5em;
  margin: 0.25em;
}

#insertSlotBtn:empty {
  margin-bottom: 0;
}

#courseList .row {
  margin-right: 0;
  margin-left: 0;
}

#courseListTable .table {
  margin-bottom: 0 !important;
}

#courseListTable .table-responsive {
  margin-bottom: 0px !important;
}

#CourseAllocationReport-btn {
  width: 60%;
}

footer {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

/**
* Font, color and other styling
* Order of elements here is same as they appear on the page
*/

#shareWhatsApp img {
  vertical-align: bottom;
}

#option_buttons .dropdown-menu>li:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tt-picker-edit-ok {
  position: absolute;
  right: 25px;
  padding-top: 5px !important;
}

.screenshot_msg {
  color: black;
  background-color: white;
}

.screenshot_msg tr,
.screenshot_msg td {
  border-color: white !important;
}

.LabHours {
  font-weight: bold;
  background-color: #99CCFF;
  cursor: default;
}

.TheoryHours {
  font-weight: bold;
  background-color: #CCCCFF;
  cursor: default;
}

.ColumnOneDays {
  font-weight: bold;
  background-color: #C0C0C0;
  cursor: default;
}

.TimetableContent {
  text-transform: uppercase;
  color: grey;
  background-color: #FFFFCC;
  cursor: pointer;
}

.TimetableContent:hover {
  color: black;
  background-color: #CCFF33;
  cursor: pointer;
}

.TimetableContent.highlight {
  color: black;
  background-color: #CCFF33;
  cursor: pointer;
}

.TimetableContent.highlight:hover {
  color: grey;
  background-color: #CCFF33;
  cursor: pointer;
}

.TimetableContent[disabled] {
  text-transform: capitalize;
  color: grey;
  background-color: #FFFFCC;
  cursor: default;
}

#timetable .table-bordered td,
#timetable .table-bordered th {
  border: 1px solid #616161 !important;
  vertical-align: middle;
}

/* .tt-course-code used when inserting course code in timetable */

#timetable td div {
  font-size: 0.9em;
}

#timetable td.clash {
  background: red !important;
  color: #fff !important;
}

.A1,
.B1,
.C1,
.D1,
.E1,
.F1,
.G1,
.A2,
.B2,
.C2,
.D2,
.E2,
.F2,
.G2,
.TA1,
.TB1,
.TC1,
.TD1,
.TE1,
.TF1,
.TG1,
.TA2,
.TB2,
.TC2,
.TD2,
.TE2,
.TF2,
.TG2,
.TAA1,
.TBB1,
.TCC1,
.TDD1,
.TEE1,
.TFF1,
.TGG1,
.TAA2,
.TBB2,
.TCC2,
.TDD2,
.TEE2,
.TFF2,
.TGG2 {
  color: grey;
  background-color: #FFFFCC;
  cursor: pointer;
}

.A1:hover,
.B1:hover,
.C1:hover,
.D1:hover,
.E1:hover,
.F1:hover,
.G1:hover,
.A2:hover,
.B2:hover,
.C2:hover,
.D2:hover,
.E2:hover,
.F2:hover,
.G2:hover,
.TA1:hover,
.TB1:hover,
.TC1:hover,
.TD1:hover,
.TE1:hover,
.TF1:hover,
.TG1:hover,
.TA2:hover,
.TB2:hover,
.TC2:hover,
.TD2:hover,
.TE2:hover,
.TF2:hover,
.TG2:hover,
.TAA1:hover,
.TBB1:hover,
.TCC1:hover,
.TDD1:hover,
.TEE1:hover,
.TFF1:hover,
.TGG1:hover,
.TAA2:hover,
.TBB2:hover,
.TCC2:hover,
.TDD2:hover,
.TEE2:hover,
.TFF2:hover,
.TGG2:hover {
  color: black;
  background-color: #CCFF33;
  cursor: pointer;
}

.A1.highlight,
.B1.highlight,
.C1.highlight,
.D1.highlight,
.E1.highlight,
.F1.highlight,
.G1.highlight,
.A2.highlight,
.B2.highlight,
.C2.highlight,
.D2.highlight,
.E2.highlight,
.F2.highlight,
.G2.highlight,
.TA1.highlight,
.TB1.highlight,
.TC1.highlight,
.TD1.highlight,
.TE1.highlight,
.TF1.highlight,
.TG1.highlight,
.TA2.highlight,
.TB2.highlight,
.TC2.highlight,
.TD2.highlight,
.TE2.highlight,
.TF2.highlight,
.TG2.highlight,
.TAA1.highlight,
.TBB1.highlight,
.TCC1.highlight,
.TDD1.highlight,
.TEE1.highlight,
.TFF1.highlight,
.TGG1.highlight,
.TAA2.highlight,
.TBB2.highlight,
.TCC2.highlight,
.TDD2.highlight,
.TEE2.highlight,
.TFF2.highlight,
.TGG2.highlight {
  color: black;
  background-color: #CCFF33;
  cursor: pointer;
}

.A1.highlight:hover,
.B1.highlight:hover,
.C1.highlight:hover,
.D1.highlight:hover,
.E1.highlight:hover,
.F1.highlight:hover,
.G1.highlight:hover,
.A2.highlight:hover,
.B2.highlight:hover,
.C2.highlight:hover,
.D2.highlight:hover,
.E2.highlight:hover,
.F2.highlight:hover,
.G2.highlight:hover,
.TA1.highlight:hover,
.TB1.highlight:hover,
.TC1.highlight:hover,
.TD1.highlight:hover,
.TE1.highlight:hover,
.TF1.highlight:hover,
.TG1.highlight:hover,
.TA2.highlight:hover,
.TB2.highlight:hover,
.TC2.highlight:hover,
.TD2.highlight:hover,
.TE2.highlight:hover,
.TF2.highlight:hover,
.TG2.highlight:hover,
.TAA1.highlight:hover,
.TBB1.highlight:hover,
.TCC1.highlight:hover,
.TDD1.highlight:hover,
.TEE1.highlight:hover,
.TFF1.highlight:hover,
.TGG1.highlight:hover,
.TAA2.highlight:hover,
.TBB2.highlight:hover,
.TCC2.highlight:hover,
.TDD2.highlight:hover,
.TEE2.highlight:hover,
.TFF2.highlight:hover,
.TGG2.highlight:hover {
  color: grey;
  background-color: #CCFF33;
  cursor: pointer;
}

.A1-tile,
.B1-tile,
.C1-tile,
.D1-tile,
.E1-tile,
.F1-tile,
.G1-tile,
.A2-tile,
.B2-tile,
.C2-tile,
.D2-tile,
.E2-tile,
.F2-tile,
.G2-tile,
.TA1-tile,
.TB1-tile,
.TC1-tile,
.TD1-tile,
.TE1-tile,
.TF1-tile,
.TG1-tile,
.TA2-tile,
.TB2-tile,
.TC2-tile,
.TD2-tile,
.TE2-tile,
.TF2-tile,
.TG2-tile,
.TAA1-tile,
.TBB1-tile,
.TCC1-tile,
.TDD1-tile,
.TEE1-tile,
.TFF1-tile,
.TGG1-tile,
.TAA2-tile,
.TBB2-tile,
.TCC2-tile,
.TDD2-tile,
.TEE2-tile,
.TFF2-tile,
.TGG2-tile {
  background-color: #FFC107;
}

.A1-tile.highlight,
.B1-tile.highlight,
.C1-tile.highlight,
.D1-tile.highlight,
.E1-tile.highlight,
.F1-tile.highlight,
.G1-tile.highlight,
.A2-tile.highlight,
.B2-tile.highlight,
.C2-tile.highlight,
.D2-tile.highlight,
.E2-tile.highlight,
.F2-tile.highlight,
.G2-tile.highlight,
.TA1-tile.highlight,
.TB1-tile.highlight,
.TC1-tile.highlight,
.TD1-tile.highlight,
.TE1-tile.highlight,
.TF1-tile.highlight,
.TG1-tile.highlight,
.TA2-tile.highlight,
.TB2-tile.highlight,
.TC2-tile.highlight,
.TD2-tile.highlight,
.TE2-tile.highlight,
.TF2-tile.highlight,
.TG2-tile.highlight,
.TAA1-tile.highlight,
.TBB1-tile.highlight,
.TCC1-tile.highlight,
.TDD1-tile.highlight,
.TEE1-tile.highlight,
.TFF1-tile.highlight,
.TGG1-tile.highlight,
.TAA2-tile.highlight,
.TBB2-tile.highlight,
.TCC2-tile.highlight,
.TDD2-tile.highlight,
.TEE2-tile.highlight,
.TFF2-tile.highlight,
.TGG2-tile.highlight {
  background-color: #64DD17;
}

/* Quick selection tiles/buttons */

.quick-selection {
  text-align: center;
}

.quick-selection .btn:hover {
  background-color: #64DD17;
}

#slot-sel-area input,
.list-group-item {
  text-transform: uppercase;
}

#slot-sel-area input {
  color: black !important;
}

.myBlockquote {
  color: #9E9E9E;
  font-size: 1.5rem;
}

#slot-sel-area #insertCourseSelectionOptions div {
  display: flex;
  margin-bottom: 0.13rem;
  /* break word on overflow */
  word-wrap: break-word;
  white-space: normal;
}

#slot-sel-area #insertCourseSelectionOptions div button {
  min-width: 20rem;
}

#slot-sel-area #insertCourseSelectionOptions p {
  color: #616161;
}

#insertSlotBtn .btn {
  white-space: normal;
}

#courseListTable {
  /* background-color important for screenshot */
  background-color: white;
  border: 1px solid #e5e5e5;
}

#courseListTable table th,
#courseListTable table tr {
  text-align: center;
}

#courseListTable table tr th:not(:last-of-type) {
  cursor: pointer;
}

#courseListTable table tr th.sorted,
#courseListTable table tr th:hover:not(:last-of-type) {
  background-color: #f1f7ee;
}

#courseListTable table tr th.ascending::after {
  content: ' ↓';
  font-size: larger;
}

#courseListTable table tr th.descending::after {
  content: ' ↑';
  font-size: larger;
  font-weight: bold;
}

#courseListTable table tr:not(:last-of-type) {
  cursor: pointer;
}

#courseListTable .close {
  float: none;
}

footer {
  background-color: #9C27B0;
  color: #fff;
}

footer a {
  color: #fff;
}

footer a:hover {
  color: #fff;
}

/**
 * Disable text selection
 */

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently supported by Chrome and Opera */
}

/**
 * Add horizontal scroll and don't collapse the elements
 * Putting it under @media preserve the original bootstrap properties when there is no overflow
 */

.horizontal-scroll-no-collapse {
  overflow: auto;
  white-space: nowrap;
}

@media screen and (max-width:768px) {
  .horizontal-scroll-no-collapse>* {
    float: none;
    display: inline-block;
  }
  .container .horizontal-scroll-no-collapse {
    margin-left: -15px;
    margin-right: -15px;
  }
}

/**
 * Custom scrollbar
 */

::-webkit-scrollbar {
  height: 10px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #9C27B0;
}
